Layout
 .main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}



.clockbox,
#clock {
    width: 100%;
    background-color: rgb(255, 251, 251);
}

/* Clock styles */
.circle {
    fill: none;
    stroke:rgb(214, 210, 210);
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill:black;
  
}
.hour-marks {
    fill: none;
    stroke:black;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke:black;
    stroke-width: 17;
    stroke-miterlimit: 10;
    border-radius: 50% 50% 0% 0%;
}

.minute-arm {
    fill: none;
    stroke:black;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke:red;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
} 


#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    /* transition: transform .5s ease-in-out; */
}
